<% content_for :body do %>

<%= raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) if Refinery::Pages.default_parts.any? %>

<% if @posts.any? %>
<section id="blog_posts">
  <%= render :partial => "/refinery/blog/shared/post", :collection => @posts %>
  <%= will_paginate @posts %>
</section>
<% else %>
<p><%= t('.no_blog_articles_yet') %></p>
<% end %>

<% end %>

<% content_for :side_body_prepend do -%>

<%= raw @page.content_for(Refinery::Pages.default_parts.second.to_sym) %>
<% end if Refinery::Pages.default_parts.many? -%>

<%= render '/refinery/blog/shared/body_content_right' %>

<div class="container">
  <h1>Blog Posts</h1>
  <div class="row">
    <div class="col-sm-10">
      <section id='body'>
	<%=raw content_for(:body) %>
      </section>
    </div>
    <div class="col-sm-2">
      <section id='side_body'>
	<%=raw content_for(:side_body) %>
      </section>
    </div>
  </div>
</div>      

<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>
