<% content_for :body do %>
  <div id="show_blog_post">
    <%= render 'post' %>
  </div>

  <%= render 'comments' %>
<% end %>

<%= render '/refinery/blog/shared/body_content_right' %>

<div class="container voffset3">
<div class="row">
  <div class="col-sm-10">
    <section id='body'>
      <%=raw content_for(:body) %>
    </section>
  </div>
  <div class="col-sm-2">
    <section id='side_body'>
      <%=raw content_for(:side_body) %>
    </section>
  </div>
</div>
</div>      
<div class="container">



<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>
<% content_for :javascripts do %>
  <%# enable AJAX'd post nav at your own risk until html5 history API implemented. %>
  <%#= javascript_include_tag('refinery/blog/frontend') %>
  <script src="http://w.sharethis.com/button/buttons.js"></script>
  <script>stLight.options({publisher:'<%= Refinery::Blog.share_this_key %>'});</script>
<% end if Refinery::Blog::Post::ShareThis.enabled? %>
